/* Style for the header logo image */
.header-logo {
    max-width: 220px;
    /* Adjust the width of the image */
    height: auto;
    /* Maintain the aspect ratio */
    position: fixed;
    /* Absolute positioning for proper placement */
    top: 0px;
    /* Adjust the top position as needed */
    left: 0px;
    /* Adjust the left position as needed */
}

/* Updated styles for the red column */
.red-column {
    font-family: Arial, Helvetica, sans-serif;
    width: 190px;
    background-color: white;
    padding: 15px;
    position: fixed;
    top: 115px;
    bottom: 0;
    left: 0;
}

/* Style the links */
.red-column a {
    display: block;
    padding: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: red;
    /* Change if you use a different red*/
    border: 2px solid red;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.red-column a.active {
    background-color: red;
    color: white;
}

/* Styles for the content container */
.main-container {
    margin-top: 10px;
    /* Ensure content starts below the fixed header and column */
    padding-left: 200px;
    /* Adjust to match the width of the red column */
    background-color: #f0f0f0;
    /* Background color for the text box */
    border: 3px solid #acacac;
    /* Border for the text box */
}

/* Styles for the scrollable content */
.content {
    /* Add your content styles here */
    padding: 20px;
    /* Add padding or other styles as needed */
}

/* Styles for the image container */
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for the image-and-text container */
.image-and-text {
    display: flex;
    flex-direction: column;
    /* Stack child elements vertically */
}

/* Styles for individual images */
.image-container img {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

#image2 {
    width: 300px;
    /* padding-top: 10px; */
}

#image3 {
    width: 300px;
}

#image4 {
    width: 300px;
}

.image-logos {
    display: flex;
    justify-content: center;
    /* Center its children horizontally 
    align-items: center;
    /* Center its children vertically */
}

/* Styles for the last two images */
.image-logos img {
    max-width: 25%;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
}

/* Styles for clickable images */
.clickable-image {
    max-width: 50%;
    height: auto;
    cursor: pointer;
    /* Change the cursor to a hand on hover to indicate clickability */
    transition: opacity 0.3s;
    /* Add a cmooth transition on hover */
}

.clickable-link:hover {
    opacity: 0.7;
    /* adjust the opacity */
}

/* Styles for the text box */
.text-box {
    max-width: 100%;
    /* Adjust the width of the text box */
    padding: 20px;
    /* Add padding or other styles as needed */
    /* Adjust to edit according to adjacent image 
    background-color: #f0f0f0;
    /* Background color for the text box 
    border: 1px solid #ccc;
    /* Border for the text box */
}

.text-box h2 {
    font-size: 18px;
    /* Adjust the font size for the title */
    margin-bottom: 10px;
    /* Adjust spacing as needed */
}

.text-box p {
    font-size: 16px;
    /* Adjust the font size for the text content */
    margin: 0;
    /* Remove any default margins */
}