/* Style for the header logo image */
.header-logo {
    max-width: 170px;

}

.b-bottom {
    border-bottom: 2px red solid;
    margin-bottom: 0px;
}

/* Updated styles for the red column */
.navbar-nav {
    font-family: Arial, Helvetica, sans-serif;
    width: 190px;
}

.nav-link {
    font-size: x-large;
    font-weight: 500;
}

.active {
    border-bottom: 3px solid red;
    padding-bottom: 1px;
}

.hov::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: red;
    display: block;
    transition: all 0.2s ease-in-out;
}

.hov:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: red;
    display: block;
}




/* Style the hamburger button */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    top: 0px;
}

/* Style the hamburger lines (you can use CSS pseudo-elements) */
.hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #000;
    /* Adjust the color as needed */
    margin: 6px 0;
}

/* Hide the menu by default */
#menu {
    display: block;
}

/* Styles for the content container */
.main-container {
    margin-top: 10px;
    /* Ensure content starts below the fixed header and column */
    padding-left: 220px;
    padding-right: 220px;
    /* Adjust to match the width of the red column */
    background-color: #ffffff;
}

/* Styles for the scrollable content */
.content {
    /* Add your content styles here */
    margin: 20px;
    /* Add padding or other styles as needed */
}

/* Styles for the image container */
.image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid brown;
}

/* Styles for individual images */
.image-container img {
    max-width: 100%;
    height: auto;
}

#image2 {
    width: 300px;
    /* padding-top: 10px; */
}

#image3 {
    width: 200px;
}

#image4 {
    width: 300px;
}

.image-logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Styles for the last two images */
.image-logos img {
    max-width: none;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
    width: 96px;
}

/* Styles for clickable images */
.clickable-image {
    max-width: none;
    height: auto;
    cursor: pointer;
    margin-right: 10px;
    /* Change the cursor to a hand on hover to indicate clickability */
    transition: opacity 0.3s;
    /* Add a smooth transition on hover */
}

.clickable-image:hover {
    opacity: 0.7;
    /* adjust the opacity */

}

/* Styles for the text box */
.text-box {
    max-width: 100%;
    /* Adjust the width of the text box */
    padding: 20px;
    /* Add padding or other styles as needed 
    background-color: #f0f0f0;
    /* Background color for the text box 
    border: 1px solid #ccc;
    /* Border for the text box */
}

.text-box h2 {
    font-size: 18px;
    /* Adjust the font size for the title */
    margin-bottom: 10px;
    /* Adjust spacing as needed */
}

.text-box p {
    font-size: 16px;
    /* Adjust the font size for the text content */
    margin: 0;
    /* Remove any default margins */
}